.abgne_product_arrow_silder {
		width: 300px;
		height: 250px;
		position: relative;
		border: 1px solid #ccc;
		overflow: hidden;
	}
	.abgne_product_arrow_silder ul, .abgne_product_arrow_silder ul li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.prev {
		background:url(image/prev.gif) no-repeat;
		width: 38px;
		height: 48px;
		position: absolute;
		left: -48px;	
		top: 101px;		
		z-index: 100;
	}
	.next {
		background:url(image/next.gif) no-repeat;
		width: 38px;
		height: 48px;
		position: absolute;
		right: -48px;	
		top: 101px;		
		z-index:100;
	}
	.abgne_product_arrow_silder ul li {
		position: absolute;
		z-index: 1;
	}
	.abgne_product_arrow_silder ul li.selected {
		z-index: 99;
	}
	a img {
		border: none;
	}
